<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <!--The body of the page itself-->
    <body>
        <ul id="slide-out" class="side-nav fixed">
            <li><div class="user-view">
                <div class="background">
                    <img src="../imgs/password-security.png">
                </div>
                <div class="row">
                    <a href="#" class="col s4"><img class="circle" src="../imgs/avatar.png"></a>
                    <a href="#" class="col s8"><span class="white-text name">John Snow</span></a>
                </div>
            </div>
            </li>
            <div id="navOps">
                <li><a class="subheader">Password Manager</a></li>
                <li><a href="#" class="waves-effect" id="homeBtn"><i class="material-icons">home</i>Home</a></li>
                <li><a href="passwords.html" class="waves-effect" id="passwordsBtn"><i class="material-icons">lock_outline</i>Passwords</a></li>
                <li><a href="reset.html" class="waves-effect" id="masterKeyBtn"><i class="material-icons">vpn_key</i>Reset Master Password</a></li>
            </div>
        </ul>
        <nav>
            <div class="nav-wrapper teal lighten-4">
                <a href="#" class="brand-logo" id="logo">Home</a>
            </div>
        </nav>
        <div class="wrap">
            <div class="inner row">
                <ti class="col s12"><strong><font size="5">Welcome to Password Manager</font></strong></ti>
                <img src="../imgs/password.png" class="homeImg">
                <p class="col s12">
                  A simple and safe way to remember all your passwords!
                  Start right now.
                </p>
                <a href="#addModal" class="col s12   waves-effect waves-light btn modal-trigger" id="addBtn">
                    <i class="material-icons right">add </i>Add new password
                </a>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <form class="form">
                  <div class="row">
                      <div class="fields" id="fields">
                        <h1>Add New Password</h1>
                        <p>
                          Add a new password.
                        </p>
                        <div class="input-field col s12">
                            <input id="passwordName" type="text"
                                   class="validate" required minlength="8">
                            <label id="lblPasswordName" for="passwordName"
                                   data-error="Must contain at least 3 characters">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="addPassword" type="password"
                                   class="validate" required minlength="8">
                            <label id="lblAddPassword" for="addPassword"
                                   data-error="Password must contain a minimun of 8 characters">New Password</label>
                        </div>
                        <div class="input-field col s12 passCheck">
                            <input id="addPasswordConfirm" type="password">
                            <label id="lblAddPasswordConfirm" for="addPasswordConfirm"
                                   data-error="Password not match">Confirm Password</label>
                        </div>
                      </div>
                      <a class="col s5 waves-effect waves-light btn modalBtn" id="addModalBtn">
                          <i class="material-icons right">add</i>Add to list
                      </a>
                      <a class="col s5 waves-effect waves-light btn right modalBtn" id="cancelAddModalBtn">
                          <i class="material-icons right">cancel</i>Cancel
                      </a>
                  </div>
                </form>
            </div>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="../js/materialize.js"></script>
    <!--Import custom js-->
    <script type="text/javascript" src="../js/home.js"></script>
</html>
