<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link type="text/css" rel="stylesheet" href="../css/login.css" media="screen,projection" />
    </head>
    <!--The body of the page itself-->
    <body class="white">
        <nav>
            <div class="nav-wrapper teal lighten-4">
                <a href="#" class="brand-logo" id="logo">Login</a>
            </div>
        </nav>
        <form class="form">
            <div class="row">
                <div class="fields" id="fields">
                  <ti class="col s12"><strong><font size="5">Password Manager</font></strong></ti>
                  <img src="../imgs/shield.png" class="loginImg">
                  <h4 class="warningText">Warning</h4>
                  <ti class="warningText">
                    Be careful with your password, it is very important.
                    If you lose, the only way to recover it is through your register code.
                  </ti>
                  <div class="input-field col s12">
                      <input id="username" type="text"
                             class="validate" required minlength="6">
                      <label id="lblUsername" for="username"
                             data-error="Password must contain a minimun of 6 characters">Username</label>
                  </div>
                  <div class="input-field col s12">
                      <input id="password" type="password"
                             class="validate" required minlength="8">
                      <label id="lblPassword" for="password"
                             data-error="Password must contain a minimun of 8 characters">Password</label>
                  </div>
                  <div class="input-field col s12 passCheck">
                      <input id="passwordConfirm" type="password">
                      <label id="lblPasswordConfirm" for="passwordConfirm"
                             data-error="Password not match">Confirm Password</label>
                  </div>
                </div>
                <a class="col s5 offset-s7 waves-effect waves-light btn modal-trigger" id="sendBtn">
                    <i class="material-icons right">send</i>Login
                </a>
            </div>
            <div class="divider">
            </div>
            <div id="actionBtns">
                <a href="#" class="grey-text col s10" id="forgotBtn">Forgot your password?</a>
                <a href="#" class="grey-text col s2 right" id="registerBtn">Register</a>
            </div>
        </form>

        <!-- Modal Structure -->
        <div id="registerModal" class="modal">
            <div class="modal-content">
                <form class="form">
                    <div class="row fields">
                        <h3>Reset Master Password Code</h3>
                        <t1>Be careful with this code, it is the only way to reset your master password.</t1>
                        <h1>2S@s!sad2</h1>
                        <a class="col s4 offset-s4 waves-effect waves-light btn" id="agreeModalBtn">
                            Ok, I will be careful
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="../js/materialize.js"></script>
    <!--Import custom js-->
    <script type="text/javascript" src="../js/login.js"></script>
</html>
