<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ 'css/materialize.css' | staticfile }}"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link rel="stylesheet" href="{{ 'css/login.css' | staticfile }}"/>
    </head>
    <!--The body of the page itself-->
    <body class="white">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="#" class="brand-logo" id="logo">Login</a>
            </div>
        </nav>
        <div class="row">
            <form action="Login.logUser" id="login-form" data-bind="true">
                <div class="fields" id="fields">
                    <ti class="col s12"><strong><font size="5">Password Manager - Created by André Poletto, Davi Kawasaki, João Bertoncini</font></strong></ti>
                    <img src="{{ 'img/shield.png' | staticfile }}" class="loginImg">
                    <div class="input-field col s12">
                        <input id="username-login" type="text" placeholder="Username"
                               name="username" required class="validate">
                        <label id="lblUsername" for="username-login"
                               data-error="Please enter a username"></label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password-login" type="password" placeholder="Master Password"
                               class="password-login-main validate"
                               name="password" required>
                        <label id="lblMasterPassword" for="password-login"
                               data-error="Please enter a Master Password"></label>
                    </div>
                </div>
                <input class="col s12 waves-effect waves-light btn modal-trigger" id="send-login-btn" type="submit" value="Login">
            </form>
        </div>
        {% if error %}
        <div class="row">
            <div class="card-panel red lighten-2 error s12 white-text">{{ error }}</div>
        </div>
        {% endif %}
        <div class="divider">
        </div>
        <div id="actionBtns">
            <a href="ResetPassword.loadResetPw" id="link-forgot-pw-from-login" data-bind="true" class="grey-text col s10">Forgot your password?</a>
            <a href="Register.loadRegUser" id="link-register-from-login" data-bind="true" class="grey-text col s2 right">Register</a>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="{{ 'js/jquery-3.2.1.js' | staticfile }}"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="{{ 'js/materialize.js' | staticfile }}"></script>
</html>
