<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ 'css/materialize.css' | staticfile }}"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link rel="stylesheet" href="{{ 'css/style.css' | staticfile }}"/>
    </head>
    <!--The body of the page itself-->
    <body>
        <ul id="slide-out" class="side-nav fixed">
            <li><div class="user-view">
                <div class="background">
                    <img src="{{ 'img/password-security.png' | staticfile }}">
                </div>
                <div class="row">
                    <a href="#" class="col s4"><img class="circle" src="{{ 'img/avatar.png' | staticfile }}"></a>
                    <a href="#" class="col s8"><span class="white-text name">John Snow</span></a>
                </div>
            </div>
            </li>
            <div id="navOps">
                <li><a class="subheader">Password Manager</a></li>
                <li><a href="home.html" class="waves-effect" id="homeBtn"><i class="material-icons">home</i>Home</a></li>
                <li><a href="#" class="waves-effect" id="passwordsBtn"><i class="material-icons">lock_outline</i>Passwords</a></li>
                <li><a href="reset.html" class="waves-effect" id="masterKeyBtn"><i class="material-icons">vpn_key</i>Reset Master Password</a></li>
            </div>
        </ul>
        <nav>
            <div class="nav-wrapper teal lighten-4">
                <a href="#" class="brand-logo" id="logo">Passwords</a>
            </div>
        </nav>
        <div>
            <div class="actionBtns right">
                <a href="#addModal" class="col s12   waves-effect waves-light btn modal-trigger" id="addBtn">
                    <i class="material-icons right">add </i>Add new password
                </a>
            </div>
        </div>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="cols">
                    <td>Twitter</td>
                    <td>senha12345</td>
                    <td>Yesterday</td>
                    <td>
                        <a href="#editModal" class="tableIcons modal-trigger">
                          <i class="material-icons" id="editIcon">edit</i></a>
                        <a href="#deleteModal" class="tableIcons modal-trigger">
                          <i class="material-icons right" id="deleteIcon">delete</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td>senha98765</td>
                    <td>Last Month</td>
                    <td>
                        <a href="#editModal" class="tableIcons modal-trigger">
                          <i class="material-icons" id="editIcon">edit</i></a>
                        <a href="#deleteModal" class="tableIcons modal-trigger">
                          <i class="material-icons right" id="deleteIcon">delete</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Gmail</td>
                    <td>senhaDoGmail</td>
                    <td>Today</td>
                    <td>
                        <a href="#editModal" class="tableIcons modal-trigger">
                          <i class="material-icons" id="editIcon">edit</i></a>
                        <a href="#deleteModal" class="tableIcons modal-trigger">
                          <i class="material-icons right" id="deleteIcon">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal Structure -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <form class="form">
                    <div class="row">
                        <div class="fields" id="fields">
                          <h1>Change Password</h1>
                          <p>
                            Change current password.
                          </p>
                          <div class="input-field col s12">
                              <input id="password" type="password"
                                     class="validate" required minlength="8">
                              <label id="lblPassword" for="password"
                                     data-error="Password must contain a minimun of 8 characters">New Password</label>
                          </div>
                          <div class="input-field col s12 passCheck">
                              <input id="passwordConfirm" type="password">
                              <label id="lblPasswordConfirm" for="passwordConfirm"
                                     data-error="Password not match">Confirm Password</label>
                          </div>
                        </div>
                        <a class="col s5 waves-effect waves-light btn modalBtn" id="editModalBtn">
                            <i class="material-icons right">edit</i>Change
                        </a>
                        <a class="col s5 waves-effect waves-light btn right modalBtn" id="cancelEditModalBtn">
                            <i class="material-icons right">cancel</i>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <form class="form">
                    <div class="row">
                        <h1>Change Password</h1>
                        <p>Are you sure you want to delete the current password?
                            Once done the password can not be recovered</p>
                        <a class="col s5 waves-effect waves-light btn modalBtn" id="deleteModalBtn">
                            <i class="material-icons right">delete</i>Delete
                        </a>
                        <a class="col s5 waves-effect waves-light btn right modalBtn" id="cancelDeleteModalBtn">
                            <i class="material-icons right">cancel</i>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal Structure -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <form class="form">
                  <div class="row">
                      <div class="fields" id="fields">
                        <h1>Add New Password</h1>
                        <p>
                          Add a new password.
                        </p>
                        <div class="input-field col s12">
                            <input id="passwordName" type="text"
                                   class="validate" required minlength="8">
                            <label id="lblPasswordName" for="passwordName"
                                   data-error="Must contain at least 3 characters">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="addPassword" type="password"
                                   class="validate" required minlength="8">
                            <label id="lblAddPassword" for="addPassword"
                                   data-error="Password must contain a minimun of 8 characters">New Password</label>
                        </div>
                        <div class="input-field col s12 passCheck">
                            <input id="addPasswordConfirm" type="password">
                            <label id="lblAddPasswordConfirm" for="addPasswordConfirm"
                                   data-error="Password not match">Confirm Password</label>
                        </div>
                      </div>
                      <a class="col s5 waves-effect waves-light btn modalBtn" id="addModalBtn">
                          <i class="material-icons right">add</i>Add to list
                      </a>
                      <a class="col s5 waves-effect waves-light btn right modalBtn" id="cancelAddModalBtn">
                          <i class="material-icons right">cancel</i>Cancel
                      </a>
                  </div>
                </form>
            </div>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="{{ 'js/jquery-3.2.1.js' | staticfile }}"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="{{ 'js/materialize.js' | staticfile }}"></script>
    <!--Import custom js-->
    <script type="text/javascript" src="{{ 'js/passwords.js' | staticfile }}"></script>
</html>
