<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ 'css/materialize.css' | staticfile }}"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link rel="stylesheet" href="{{ 'css/style.css' | staticfile }}"/>
    </head>
    <!--The body of the page itself-->
    <body>
        <ul id="slide-out" class="side-nav fixed">
            <li><div class="user-view">
                <div class="background">
                    <img src="{{ 'img/password-security.png' | staticfile }}">
                </div>
                <div class="row">
                    <div class="col s4"><img class="circle" src="{{ 'img/avatar.png' | staticfile }}"></div>
                    <div class="col s8"><span class="white-text name">{{ username }}</span></div>
                </div>
            </div>
            </li>
            <div id="navOps">
                <li><a class="subheader">Password Manager</a></li>
                <li><a href="#" class="waves-effect" id="passwordsBtn"><i class="material-icons">lock_outline</i>Passwords</a></li>
                <li><a href="Login.logout" class="waves-effect" id="logout-passwords-list" data-bind="true"><i class="material-icons">exit_to_app</i>Logout</a></li>
                <!-- <li><a href="reset.html" class="waves-effect" id="masterKeyBtn"><i class="material-icons">vpn_key</i>Reset Master Password</a></li> -->
            </div>
        </ul>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="#" class="brand-logo" id="logo">Passwords</a>
            </div>
        </nav>
        {% if reccode %}
         <div id="recoveryPasswordRegisterModal">
            <div class="modal-content">
                <form class="form">
                    <div class="row fields center">
                        <h3>Recovery Master Password Code</h3>
                        <t1>Be careful with this code, it is the only way to reset your master password. Store in somewhere safe!</t1>
                    </div>
                    
                    <div class="row">
                        <div class="col s6 offset-s3 center cardPanel teal lighten-2 reccode">
                            <h1 class="white-text">{{ reccode }}</h1>
                        </div>
                    </div>

                    <div class="row center">
                        <a id="reccode-list-passwords" class="col s4 offset-s4 waves-effect waves-light btn">Ok, I will be careful!</a>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% if modalError %}
        <div class="row">
            <div class="card-panel red lighten-2 error s12 white-text">{{ modalError }}</div>
        </div>
        {% endif %}
        <div>
            <div class="actionBtns right">
                <a href="#addModal" class="col s12   waves-effect waves-light btn modal-trigger" id="addBtn">
                    <i class="material-icons right">add </i>Add new password
                </a>
            </div>
        </div>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Timestamp</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for data in userData %}
                <tr class="cols">
                    <td class="data-name">{{ data.name }}</td>
                    <td class="data-login">{{ data.login }}</td>
                    <td class="data-password">{{ data.password }}</td>
                    <td class="data-timestamp">{{ data.timestamp }}</td>
                    <td>
                        <a href="#editModal" class="tableIcons modal-trigger edit-data-row">
                          <i class="material-icons editIcon">edit</i></a>
                        <a href="#deleteModal" class="tableIcons modal-trigger delete-data-row">
                          <i class="material-icons right deleteIcon">delete</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal Structure -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <form action="UpdateData.updateInfo" id="update-data-form" data-bind="true">
                    <div class="row">
                        <div class="fields">
                          <h1>Change Password</h1>
                          <div class="input-field col s12">
                            <input id="updateInfoName" type="text" name="infoName" required disabled>
                        </div>
                        <div class="input-field col s12">
                            <input id="updateLogin" type="text" name="login" placeholder="Login"
                                   class="validate" required>
                            <label id="lblUpdateLogin" for="updateLogin"
                                   data-error="Please enter a new Login"></label>
                        </div>
                        <div class="input-field col s12">
                            <input id="updatePassword" type="password" name="password" placeholder="Password"
                                   class="validate" required>
                            <label id="lblUpdatePassword" for="updatePassword"
                                   data-error="Please enter a new Password"></label>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="updateUsername" type="text" name="username" value="{{username}}" required disabled>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="updateTimestamp" type="text" name="timestamp" required disabled>
                        </div>
                        <div class="input-field col s12">
                            <input id="updateMasterPassword" type="password" name="masterPassword"
                                   class="validate" required>
                            <label id="lblUpdateMasterPassword" for="updateMasterPassword"
                                   data-error="Please enter the Master Password">Master Password</label>
                        </div>
                        </div>
                        <input class="col s5 waves-effect waves-light btn right modalBtn" id="updateInfoModalBtn" type="submit" value="Update" />
                        <a class="col s5 waves-effect waves-light btn left modalBtn" id="cancelEditModalBtn">
                            <i class="material-icons right">cancel</i>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <form action="RemoveData.removeInfo" id="delete-data-form" data-bind="true">
                    <div class="row">
                        <h1>Delete Password</h1>
                        <p>Are you sure you want to delete the current password?
                            Once done the password can not be recovered!</p>
                        <div class="input-field col s12 display-none">
                            <input id="removeInfoName" type="text" name="infoName" required disabled>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="removeLogin" type="text" name="login" required disabled>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="removePassword" type="password" name="password" required disabled>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="removeUsername" type="text" name="username" value="{{username}}" required disabled>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="removeTimestamp" type="text" name="timestamp" required disabled>
                        </div>
                        <div class="input-field col s12">
                            <input id="deleteMasterPassword" type="password" name="masterPassword"
                                   class="validate" required>
                            <label id="lblDeletePassword" for="deleteMasterPassword"
                                   data-error="Please enter the Master Password">Master Password</label>
                        </div>
                        <input class="col s5 waves-effect waves-light btn right modalBtn" id="removeInfoModalBtn" type="submit" value="Confirm removal" />
                        <a class="col s5 waves-effect waves-light btn left modalBtn" id="cancelDeleteModalBtn">
                            <i class="material-icons right">cancel</i>Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal Structure -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <form action="RegisterData.regNewInfo" id="register-new-data-form" data-bind="true">
                  <div class="row">
                      <div class="fields">
                        <h1>Add New Password</h1>
                        <div class="input-field col s12">
                            <input id="addInfoName" type="text" name="infoName"
                                   class="validate" required>
                            <label id="lblAddInfoName" for="addInfoName"
                                   data-error="Please enter a Service Name">Service Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="addLogin" type="text" name="login"
                                   class="validate" required>
                            <label id="lblPasswordName" for="addLogin"
                                   data-error="Please enter a Login">Login</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="addPassword" type="password" name="password"
                                   class="validate" required>
                            <label id="lblAddPassword" for="addPassword"
                                   data-error="Please enter a Password">New Password</label>
                        </div>
                        <div class="input-field col s12 display-none">
                            <input id="addUsername" type="text" name="username" value="{{username}}" required disabled>
                        </div>
                        <div class="input-field col s12">
                            <input id="addMasterPassword" type="password" name="masterPassword"
                                   class="validate" required>
                            <label id="lblAddMasterPassword" for="addMasterPassword"
                                   data-error="Please enter the Master Password">Master Password</label>
                        </div>
                      </div>
                      <input class="col s5 waves-effect waves-light btn right modalBtn" id="addPwModalBtn" type="submit" value="Register New Password" />
                      <a class="col s5 waves-effect waves-light btn left modalBtn" id="cancelAddModalBtn">
                          <i class="material-icons right">cancel</i>Cancel
                      </a>
                  </div>
                </form>
            </div>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="{{ 'js/jquery-3.2.1.js' | staticfile }}"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="{{ 'js/materialize.js' | staticfile }}"></script>
    <!--Import custom js-->
    <script type="text/javascript" src="{{ 'js/passwords.js' | staticfile }}"></script>
</html>
