<!doctype html>
<html lang="br">
    <head>
        <!--I really don't know if the meta is necessary here-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--Page Title-->
        <title>Password Manager</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ 'css/materialize.css' | staticfile }}"  media="screen,projection"/>
        <!--Import custom Stylesheet-->
        <link rel="stylesheet" href="{{ 'css/login.css' | staticfile }}"/>
    </head>
    <!--The body of the page itself-->
    <body class="white">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="#" class="brand-logo" id="logo">Reset Password</a>
            </div>
        </nav>
        <div class="row">
            <form action="ResetPassword.resetPw" id="reset-pw-form" data-bind="true">
                <div class="fields" id="fields">
                    <ti class="col s12"><strong><font size="5">Password Manager - Created by André Poletto, Davi Kawasaki, João Bertoncini</font></strong></ti>
                    <img src="{{ 'img/shield.png' | staticfile }}" class="loginImg">
                    <h4 class="warningText">Reseting your Password</h4>
                    <ti>
                        Insert the recovery code you received when registering together with your username and new master password.
                    </ti>
                    <div class="input-field col s12">
                        <input id="reccode-reset-pw" type="password" name="reccode"
                                placeholder="Recovery Code" required class="validate">
                        <label id="lblReccode-reset-pw" for="reccode-reset-pw"
                               data-error="Please enter the Recovery Code"></label>
                    </div>
                    <div class="input-field col s12">
                        <input id="username-reset-pw" type="text" name="username"
                                placeholder="Username" required class="validate">
                        <label id="lblUsername-reset-pw" for="username-reset-pw"
                               data-error="Please enter the Username"></label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password-reset-pw" type="password" name="password"
                                placeholder="Master Password" required class="validate">
                        <label id="lblPassword-reset-pw" for="password-reset-pw"
                               data-error="Please enter the Master Password"></label>
                    </div>
                </div>
                <input class="col s12 waves-effect waves-light btn modal-trigger" id="sendResetBtn" type="submit" value="Reset" />
            </form>
        </div>
        {% if error %}
        <div class="row">
            <div class="card-panel red lighten-2 error s12 white-text">{{ error }}</div>
        </div>
        {% endif %}
        <div class="divider">
        </div>
        <div id="actionBtns">
            <a href="Login.loadLogin" id="link-login-from-reset" data-bind="true" class="grey-text col s2 right">Login</a>
        </div>

    </body>
    <!--Import jquery.js-->
    <script type="text/javascript" src="{{ 'js/jquery-3.2.1.js' | staticfile }}"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="{{ 'js/materialize.js' | staticfile }}"></script>
</html>