/*Css for login/index page*/
.nav-wrapper{
    padding-left: 15px;
}

form, #actionBtns {
    padding: 2%;
}

.reccode {
  padding: 5%;
}

.error {
  margin: 0 2%;
  padding: 1%;
}

.divider{
    width: 100%;
}

.warningText, .passCheck{
  margin-top: 10px;
}

.loginImg {
  height: 15vh;
  width: 15vh;
  margin: 2em;
}

.fields{
  text-align: center;
}

#sendBtn{
  margin-top: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: hidden;
}