header, main, footer, body {
    padding-left: 300px;
}

@media only screen and (max-width : 800px) {
    header, main, footer, body {
        padding-left: 0;
    }
}

a{
    color: #FFFFFF;
}

.nav-wrapper{
    padding-left: 15px;
}

.background{
    height: 150px;
}

.name{
    font-size: large;
}

#navOps{
    padding-top: 35px;
}

.wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: -64px;
}

.inner {
  margin-top: 64px;
  align-self: center;
  text-align: center;
  width: 50vh;
  padding: 2rem;
}

.homeImg {
  height: 25vh;
  width: 25vh;
}

.actionBtns{
  padding-top: 10px;
  padding-right: 10px;
}

.tableIcons{
  color: #000000;
}

.deleteIcon{
  padding-right: 5vh;
}

.modalBtn{
  margin-top: 30px;
}
